<p>Please fill in the following form if you would like to contact us.</p>
<form action="/contact" method="post">
  <label for="name">Your Name:</label>
  <input type="text" name="name">
  <label for="email">Your email address:</label>
  <input type="text" name="email">
  <label for="to">Your message:</label>
  <textarea name="message" rows="16" cols="28">
  <input type="submit" value="Send">
</form>