<div class="contact">
<p>Επικοινωνήστε μαζί μας</p>
<form action="/contact" method="post">
  <p>
  	<label for="name">Όνομα:</label>
  	<input type="text" name="name">
  </p>
  <p>
  	<label for="email">email:</label>
  	<input type="text" name="email">
  </p>
  <p>
  	<label for="to">Μήνυμα:</label>
  	<textarea name="message" rows="16" cols="28"></textarea>
  </p>
  <input type="submit" value="Send">
</form>
</div>