<div class="edit">
<h1>Edit Post</h1>
<form action="<%= @url %>" class="post_form" method="POST">
	<p>
		<label for="post_title">Title</label>
		<input id="post_title" name="post[title]" type="text" value="<%= @post.title %>"/>
  </p>
	<p>
		<label for="post_tags">Tags</label>
		<input id="post_tags" name="post[tags]" type="text" value="<%= @post.tags %>"/>
	</p>
	<p>
		<label for="post_author">Author</label>
		<input id="post_author" name="post[author]" type="text" value="<%= @post.author %>"/>
  </p>
	<p>
		<div class="wmd-panel">
     <div id="wmd-button-bar"></div>
     <textarea class="wmd-input" id="wmd-input" name="post[body]"><%= @post.body %></textarea>
    </div>
	</p>

<input id="button_submit" name="submit" type="submit" value="Submit" />
</form>
</div>
<script type="text/javascript">
  (function () {
    var converter1 = Markdown.getSanitizingConverter();
           
    converter1.hooks.chain("preBlockGamut", function (text, rbg) {
      return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
        return "<blockquote>" + rbg(inner) + "</blockquote>\n";
      });
    });
                
    var editor1 = new Markdown.Editor(converter1);
               
    editor1.run();
                
  })();
</script>