<p class="info">
	<strong>
		Απλά tutorials πληροφορικής που προσπαθούν με απλά λόγια να κάνουν τον προγραμματισμό πιο εύκολο με θέματα τόσο για αρχάριους όσο και για προχωρημένους.
	</strong>
</p>


<% @posts.each do |post| %>
<div class="post">
	<h1><%= link_to post.url, post.title %></h1>
	<div class="post-info">Τις <%= pretty_date (post.created_at) %>, απο τον <%= post.author %></div>
	<div class="tags">Tags: <%= post.linked_tags %></div>
	<p><%= m post.summary_html %></p>
	<% if post.more? %>
		<p class="read-more"><a href="<%= post.url %>">Θέλω να διαβάσω όλο το άρθρο &raquo;</a></p>
	<% end %>
</div>
<% end %>

<small><%= link_to "/archive", "Παλαιότερα άρθρα" %></small>