<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= css :application, :media => 'screen' %>
		<link rel="icon" type="image/png" href="/favicon16.png">
		<%= js  :app %>
	</head>
	<body>
		<header class="blog-header container">
			<div class="lh">
				<h1 id="logo"><%= link_to "/", "Programmatise.gr" %></h1>
				<h2>Ο Προγραμματισμός με απλά λόγια</h2>
			</div>
			<nav>
				<ul>
					<li><%= link_to "https://twitter.com/Programmatise", "Twitter", id: "twitter" %></li>
					<li><%= link_to "/contact", "Contact-us", id: "contact" %></li>
				</ul>
			</nav>							
		</header>
		<div class="content container">
		
			<%= yield %>
		</div>
		
		<footer>
			<div class="container">
			&copy; 2014 || To site σχεδιάσθηκε από εμάς!!!! || δημιουργήθηκε με to <%= link_to "http://www.sinatrarb.com/", "Sinatra" %>
			</div>
		</footer>
	</body>
</html>