<h1>Post που αφορούν -> <%= @tag %></h1>

<% @posts.each do |post| %>
<div class="post">
	<h1><%= link_to post.url, post.title %></h1>
	<div class="post_info">Τις <%= pretty_date (post.created_at) %>, απο τον <%= post.author %></div>
	<div class="tags">Tags: <%= post.linked_tags %></div>
	<p><%= m post.summary_html %></p>
	<% if post.more? %>
		<p class="read_more"><a href="<%= post.url %>">Θέλω να διαβάσω όλο το άρθρο &raquo;</a></p>
	<% end %>
</div>
<% end %>