
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin shadow($color: #333333) {
  -moz-box-shadow: 0px 1px 2px $color;
  -webkit-box-shadow: 0px 1px 2px $color;
  box-shadow: 0px 1px 2px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}


@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}


html{
	padding: 0;
	margin: 0;
}
body{
	padding: 0;
	margin: 0;
	font-family: "Courier New";
  color: #333;
}

header, footer{
  display: block;
}

a{
	text-decoration: none;
}

pre{
  display: block;
  clear: both;
  overflow: hidden;
  margin: 20px 0;
  padding: 10px;
  background: #333;
  color: #f1f1f1;
}
code{
  background: #333;
  color: #f1f1f1;
}

.container{
  width:  740px;
  margin: 0 auto;
  clear: both;
}

header{
  margin-top: 30px;
 
  .lh{
    float: left;
    margin-top: 20px;
    margin-bottom: 4em;
  }
  h1#logo{
    @include rotate(-15deg);
    width: auto;
    a{
       color: #f1f1f1;
       text-decoration: none;
       padding:  8px 20px;
       @include border-radius(5px);
       @include shadow();
       background: #333;
    }
  }
  h1#logo:hover{
    @include rotate(-12deg);
  }

  h2{
    @include rotate(-15deg);
    word-spacing: -0.2em;
    letter-spacing: -0.1em;
    margin-left: 10px;
    width: auto;
  }

  nav{
    margin-top: 10px;
    float: right;
    text-align: center;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li:first-child{
        padding-left: 20px;
      }
      li{
        float: left;
        padding-left: 8px;
        a{
          text-indent: -9999px;
          display: block;
          height: 64px;
          width: 64px;
        }
        a#twitter{
          background: url('/images/twitter.png') no-repeat;
        }
        a#twitter:hover{
          background: url('/images/twitter-hover.png');
        }
        a#contact{
          background: url('/images/contact.png') no-repeat;
        }
        a#contact:hover{
          background: url('/images/contact-hover.png');
        }
      }
    }
  }
}

.info{
  background: #999;
  color: #fff;
  @include border-radius(5px);
  @include shadow();
  padding: 10px;
  float: right;
  width: 400px;
  @include rotate(8deg);
  margin-top: -4em;
  text-align: justify;
}

.edit{
  font-family: Arial;
  label{
    display: inline-block;
    width: 80px;
  }
  input[type="text"]{
    width: 300px;
  }
  
}

.post{
  h1{
    a{
      color: #666;
    }
  }
  .post-info{
    color: #666;
    font-size: 0.8em;
    width: 300px;
  }
  .tags{
    color: #333;
    padding-bottom: 15px;
    border-bottom: thin  dotted #333;
    a{
      color: #666;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  .read-more{
    a{
      color: #666;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}

.contact{
  label{
    display: inline-block;
    width: 80px;
  }
  input[type="text"], textarea{
    width: 300px;
  }
}

footer{
  margin-bottom: 10px;
  margin-top: 10px; 
  div{
    text-align: center;
    background: #333;
    color: #f1f1f1;
    padding: 20px 0;
    @include border-radius(5px);
    a{
      color: #fff;
    }
  }
}